@model List<MedicalDeviceTracking.Models.HospitalGroup>

<footer class="text-white py-1 mt-auto">
  <div class="mx-5 my-1">
    <div class="row text-center text-md-start">
      <!-- Sütun 1: Sol -->
      <div class="col-md-4">
        <p>Sivas İl Sağlık Müdürlüğü <br>
           Kamu Hastaneleri Başkanlığı<br>
           Klinik Mühendislik Birimi
        </p>
      </div>

      <!-- Sütun 2: Orta -->
      <div class="col-md-4 mb-2 d-flex justify-content-center align-items-center">
          <small>© 2025 Durmuş BALCI<br>
           All rights reserved.</small>
      </div>

      <!-- Sütun 3: Sağ -->
      <div class="col-md-4 mb-2 d-flex justify-content-md-end justify-content-center align-items-center">
        <a href="https://linkedin.com" target="_blank" class="text-white me-3">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://instagram.com" target="_blank" class="text-white me-3">
          <i class="fa-brands fa-instagram fa-2x"></i>
        </a>
        <a href="https://instagram.com" target="_blank" class="text-white">
          <i class="fa-brands fa-whatsapp fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</footer>